* {
	box-sizing: border-box;
}

body {
	background-color: #E4E8E5;
	font-family: 'Roboto', sans-serif;
	color: black;
}

a {
	color: navy;
}

nav {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	/*background-color: #489e37 !important;*/
	background-color: #487552 !important;
	border: none !important;
	border-bottom: 1px solid rgb(49, 53, 47) !important;

}

nav img.facebook {
	width: 40px;
	height: 40px;
	position: relative;
	top: .4em;
	left: .4em;
}

div.container {
	padding-right: .5em;
	padding-left: .5em;
	padding-bottom: .5em;
	margin: 0 auto;
	overflow: hidden;
}

div.update_box ul li {
	list-style-type: none;
	margin: 0;
}

nav a {
	color: black !important;
}

nav img {
	height: 50px;
	width: 75px;
}



li.dropdown-submenu ul.dropdown-menu {
	position: relative;
	left: 1em;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

h1 {
	font-family: Candal;
	margin-bottom: .5em;
}

hr {
	margin: 0;
	padding: 0;
}

div.jumbotron {
	background-image: url('../images/tractor-show.jpg');
	height: 25em;
	background-size: 97em 35em;
	background-repeat: no-repeat;
	border-bottom: 1px solid black;
	margin: 0;
	background-position: center;
	background-color: #369e38;
}

div.jumbotron img {
	height: 200px;
	width: auto;
	margin: 0 auto;
	position: relative;
	top: 1em;
	display: block;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid black;
}

div.toy-show-banner,
div.banner,
div.notification,
div.mission, 
div.schedule,
div.tractor-picture,
div.graham,
div.thanks {
	border: 1px solid rgb(63, 60, 60);
	border-radius: .25em;
	background-color: #C4C9C5;
}

div.tractor-picture img {
    width: 50%;
    display: block;
    margin: .75em auto;
    border: 1px solid black;
    
}

div.banner {
	margin: .75em 0;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 hite, 0 -1px white;
}

div.banner img {
    width: 100%;
}

div.toy-show-banner {
	margin-top: .5em;
	padding: .25em;
	text-align: center;
}


div.toy-show-banner h2 {
	font-size: 3em;
    font-weight: bold;
    margin: .4em;
    
}

div.toy-show-banner h3 {
    margin-bottom: 1em;
}

div.notification {
	margin-top: .5em;
	height: 13em;
	overflow-x: scroll;
	padding: 0em 1em;
}



div.notification h2 {
	font-family: Oxygen;
}


div.notification h3 {
	margin-top: .25em;
}

div.mission {
	padding: .25em 1em;
	margin-top: .5em;
}


div.mission h2 {
	margin:  .25em 0;
	text-align: center;

}

div.mission p {
	font-size: 1.5em;
}

div.schedule {
	margin: 0;
	margin: .5em 0;
}

div.schedule ul.nav {
	overflow: auto;
	border-bottom: 1px solid rgb(63, 60, 60);
	background-color: #7a9184;
}

div.schedule ul.nav li a {
	color: black;
}

div.schedule ul li a {
	padding: .9em;
}

div.schedule ul li h4 {
	padding: 0 .25em;
	font-size: 1.6em;
}

div.schedule div.tab-pane {
	overflow: hidden;
	text-align: center;
	margin: 0;
}


div.schedule div.right-push {
	position: relative;
	right: 2.5em;
}

div.schedule div.left-push {
	position: relative;
	left: 2.5em;
}

div.schedule p {
	font-size: 1.15em;
}

div.graham {
	padding: .5em;
	margin-right: -1.1em;
	text-align: center;
}

div.graham h2 {
	margin: 0;
	font-size: 1.9em;
}

div.thanks h2 {
	margin: 0;
	font-size: 2.225em;
}

div.thanks {
	padding: 4.125em .5em;
	text-align: center;
	font-family: Oxygen;
	margin-left: -.3em;
}

div.graham img {
	width: 250px;
	height: auto;
	display: block;
	margin: .25em auto;
	border: 1px solid grey;
	border: 1px solid black;
}

div.ribbon {
	text-align: center;
	padding: 0 .25em;
	background-color: #487552;
	border: none;
	border-bottom: 1px solid black;
	overflow: auto;
}

div.ribbon h3 {
	text-shadow: -.9px 0 black, 0 .9px black, .9px 0 black, 0 -.9px black;
	color: rgb(28, 17, 194);
	letter-spacing: .1em;
	padding: 0;
	font-family: Oxygen;
	position: relative;
	bottom: .2em;
}

div.setList {
	border: 1px solid grey;
	overflow: auto;
	height: 100px;
}

footer {
	text-align: center;
	font-size: 1.25em;
	padding: .75em 0;
	background-color: #487552;
	border-top: 1px solid black;
	color: black;
}

h1 {
	text-align: center;
}



/****Summer Show****/

div.summer-head {
	text-align: center;
}

div.summer-head img {
	height: 275px;
	border: 1px solid black;
	margin-top: 3.5em;
}

div.summer-schedule {
	text-align: center;
}

h3.weekend,
div.upcoming {
	display: inline-block;
}

div.upcoming {
	position: relative;
	bottom: .6em;
	left: .25em;
}


div.feature h2 {
	text-align: center;
}

div.feature {
	width: 92%;
	margin: 0 auto;
	display: block;
}

div.feature img {
	height: 115px;
	margin-left: .5em;
	margin-top: .35em;
	border: 1px solid black;
}

div.blurb {
	margin-top: 1em;
	font-size: 1.15em;
}

div.events {
	text-align: center;
}

div.events table {
	margin: 0 auto;
}

div.events table h4 {
	text-align: center;
}

div.events table td {
	font-size: 1.15em;
	padding: .5em 5em;
	font-weight: bold;
	font-family: arial;
}

div.separate-days ul li {
	padding: .3em;
	border: 1px outset grey;
	font-size: 1em;
	list-style-type: none;
}

div.table div.advisors {
	border: 1px solid black;
}

div.summer-map img {
	border: 1px solid black;
	height: 750px;
	margin: 0 auto;
	display: block;
}

/* Toy Show */

div.toy-show-head {
	text-align: center;
}



div.toy-show-head img {
	height: 240px;
	border: 1px solid black;
	margin-top: 2em;
}

div.toy-contact h2 {
	margin: .1em 0 .25em 0;

}

div.toy-contact ul {
	font-size: 1.15em;
	list-style-type: none;
	position: relative;
	right: 1em;
}

div.toy-contact ul li {
	margin-bottom: .3em;
}

div.toy-ad {
	margin-top: 1em;
}

div.toy-ad h2 {
	text-align: center;
}

div.toy-ad p {
	font-size: 1.2em;
	line-height: 1.5em;
}

div.image-row-1 { 
	padding: 2em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

div.image-row-1 img {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
	width: 265px;
	height: auto;
}

/** contact **/
div.contact {
	text-align: center;
}


div.contact dl {
	border-radius: .5em;

}

div.contact dl dt {
	font-size: 1.35em;
}

div.contact dl dd {
	font-size: 1.25em;
}

/** directions **/

div.directions {
	text-align: center;
}



div.directions iframe {
	height: 500px;
	width: 700px;
	border: 1px solid gray;
}

/** Club Info **/

div.club-info h2 {
	text-align: center;
}

div.club-info td {
	font-size: 1.2em;
	text-align: center;
	padding: .25em;
}

table {
	margin: 0 auto;
}

div.pointer {
	text-align: center;
	font-size: 1.15em;
	cursor: pointer;
}



div.officers strong:hover {
	text-decoration: underline;
	color: navy;
}

div.pointer strong {
	font-size: 1.25em;
}

/** photos **/
div.photos img {
	height: 150px;
	width: auto;
	margin-bottom: .25em;
	margin: 0 auto .25em auto;
	display: inline-block;
	border: 1px solid black;
}

div.edit-selection {
	text-align: center;
}

div.edit-selection h2 {
	border: 1px solid black;
	border-radius: .5em;
	padding: 1.25em;
	background-color: #7fd881;
}

form.login {
	border: 1px solid grey;
	width: 50%;
	margin: 0 auto;
	background-color:#d5deed;
	margin-top: 5em;
	padding-bottom: 0;
}

form.login h2 {
	margin: 0;
	text-align: center;
}

div.single-update h3:first-of-type {
	font-weight: bold;
	color: #960000;
	font-size: 2.25em;
}

div.single-update p:first-of-type {
	font-size: 1.25em;
}

@media only screen and (max-width: 1200px) {
	div.thanks h2 {
		font-size: 1.7em;
	}		

	div.thanks {
		padding: 3.5em .5em;
	}

	div.graham h2 {
		font-size: 1.6em;
	}
}

@media only screen and (max-width: 991px) {
/** Homepage **/
	div.graham {
		margin-right: 0;
		margin-bottom: .5em;
	}

	div.jumbotron {
		height: 21em;
	}

	div.jumbotron img {
		height: 175px;
	}

	div.ribbon h3 {
		font-size: 1.5em;
	}

	div.mission h2 {
		font-size: 1.8em;
		margin-top: .25em;
	}

	div.mission p {
		font-size: 1.3em;
	}

	div.schedule div.right-push,
	div.schedule div.left-push {
		position: static;
		left: 0;
		right: 0;
	}

	div.schedule h2 {
		font-size: 1.9em;
	}

	div.schedule h3 {
		font-size: 1.5em;
	}

	div.thanks {
		margin-left: 0em;
	}

	/**Summer Show **/

	div.events table td {
		font-size: 1.15em;
		padding: .5em 2.5em;
		font-weight: bold;
	}

	div.summer-head img,
	div.toy-show-head img {
		height: 250px;
		margin-top: 2em;
	}

	div.around iframe {
		height: 450px;
		width: 650px;
	}

	div.image-row-1 img {
		margin-bottom: 1em;
	}

	div.image-row-1 img {
		width: 225px;
	}

	div.single-update h3:first-of-type {
		font-size: 2em;
	}

	div.photos img {
		height: 115px;
	}

}

@media only screen and (max-width: 767px) {

/** Homepage **/
	div.ribbon h3 {
		font-size: 1.15em;
		margin: .75em 0;
		position: static;
		bottom: 0;
	}
	
	div.thanks {
		padding: 3.5em .5em;
		font-size: 1.15em;
	}	

	div.photos img.strip-tall {
		height: 280px;
	}
	
	div.photos img.strip-wide {
		height: 210px;
	}	

	div.jumbotron {
		height: 17em;
	}

	div.jumbotron img {
		height: 150px;
	}

	div.mission h2 {
		font-size: 1.7em;
	}

	div.mission p {
		font-size: 1.2em;
	}

	div.toy-show-banner h2 {
		font-size: 2em;
	}

	div.schedule h2 {
		font-size: 1.7em;
	}

	div.schedule h3 {
		font-size: 1.35em;
	}

	div.schedule h4 {
		font-size: 1.1em;
	}

	div.schedule p {
		font-size: 1.1em;
	}

	div.schedule ul li a {
		padding: .9em;
	}

	div.graham img {
		width: 275px;
	}

	div.thanks h2 {
		font-size: 1.5em;
	}

	div.thanks {
		padding: 3em .5em;
	}

	/**Summer Show**/

	h1 {
		font-size: 2.25em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3  {
		font-size: 1.5em;
	}

	h4,
	div.contact dl dd,
	div.contact dl dt,
	div.officers strong {
		font-size: 1.15em;
	}

	div.summer-head img {
		height: 225px;
	}

	div.upcoming {
		position: relative;
		bottom: .25em;
		left: .25em;
	}

	div.events table td {
		padding: .5em 2em;
		font-size: 1em;
	}

	div.feature img {
		height: 95px;
		margin-left: .5em;
		margin-top: .35em;
		border: 1px solid black;
	}

	div.blurb,
	div.toy-ad p {
		font-size: 1.1em;
	}

	div.events h2 {
		font-size: 1.75em;
	}

	div.events h4 {
		font-size: 1.2em;
	}

	div.summer-head img,
	div.toy-show-head img  {
		height: 225px;
	}

	div.summer-map h1 {
		font-size: 1.95em;
	}

	div.summer-map img {
		height: 515px;
	}

	div.toy-ad h2 {
		font-size: 2em;
	}

	div.around iframe {
		height: 425px;
		width: 100%;
	}

	div.club-info table td {
		font-size: 1.05em;
	}

	div.single-update h3:first-of-type {
		font-size: 1.75em;
	}
}

@media only screen and (max-width: 480px) {
/** Homepage **/
	div.jumbotron {
		background-size: 90em 25em;
		height: 16em;
	}
	
	div.jumbotron img {
		height: 135px;

	}

	div.ribbon h3 {
		font-size: 1em;
	}
    
    div.toy-show-banner h2 {
		font-size: 1.9em;
	}
	
	div.mission h2 {
		font-size: 1.5em;
	}

	div.mission p {
		font-size: 1em;
		line-height: 1.5em;
	}

	div.schedule table td {
		padding: .25em;
	}

	div.schedule ul li a {
		padding: .8em;
		font-size: .9em;
	}

	div.schedule ul li h4 {
		font-size: 1.15em;
	}

	div.graham h2 {
		font-size: 1.3em;
	}

	div.graham img {
		width: 220px;
	}

	div.thanks h2 {
		font-size: 1.35em;
	}

	div.thanks {
		padding: 2.25em .5em;
	}

	div.schedule h2 {
		font-size: 1.5em;
	}

	div.schedule h3 {
		font-size: 1.2em;
	}

	div.schedule h4 {
		font-size: 1em;
	}

	div.schedule p {
		font-size: .9em;
	}

	div.events table td {
		padding: .5em 1.5em;
		font-size: .8em;
	}

	div.photos img.strip-tall {
		height: 230px;
	}
	
	div.photos img.strip-wide {
		height: 170px;
	}	

	div.summer-head h1 {
		margin-bottom: 0;
	}

	h1 {
		font-size: 1.9em;
	}

	 h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	div.photos img {
		height: 100px;
	}

	div.contact dl dd,
	div.contact dl dt,
	h4,
	div.officers strong {
		font-size: 1.05em;
	}

	div.summer-head img,
	div.toy-show-head img  {
		height: 200px;
	}

	div.feature img {
		height: 80px;
		margin-left: .5em;
		margin-top: .35em;
		border: 1px solid black;
	}

	div.blurb {
		font-size: 1em;
	}

	div.summer-map {
		overflow: auto;
	}

	div.summer-map img {
		height: 425px;
		width: 100%;
	}

	div.toy-contact ul li {
		font-size: .75em;
	}

	div.around iframe {
		height: 375px;
		width: 100%;
	}

	div.club-info table td {
		font-size: .9em;
		padding-bottom: .75em;
	}

	p {
		font-size: .975em;
	}

}
