<div class="well">
    <h3>Upload photo</h3>
    <div class="upload-photo">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addSet">Add Set</button>
        <form method="POST" enctype="multipart/form-data" action="upload">
            {{ uploadForm.csrf_token }}
            {{ uploadForm.file }}
            {{ uploadForm.submit }}
        </form>
    </div>
</div>

<!-- Modal -->
<div id="addSet" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Set</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('dashboard') }}">
        {{ setForm.csrf_token }}
        {{ setForm.set }}<br>
        {{ setForm.submit }}
        <form>
        <div class="setList">
            <ul>
                {% for display in set %}
                <li>{{ display.name }}</li>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> 

  </div>
</div>