{% extends 'authentication/authentication-base.html' %}
{% from "authentication/_formhelpers.html" import render_field, render_submit %}

{% block content %}

<form class="login well" method="POST" action="{{ url_for('login') }}">
<h2>Login</h2>
 <dl>
	{{ form.csrf_token() }}
	{{ render_field(form.username, class="form-control") }}
	{{ render_field(form.password, class="form-control") }}
	{{ render_submit(form.submit, class="btn btn-submit btn-primary") }}
 </dl>
</form>

<script>
		$(document).ready(function(){
			$("h1, p").hide();
		});
</script>


{% endblock %}