{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="contact">
    <h1 style="margin-bottom: .7em;">Contact Information</h1>
    <div class="row">
        <div class="col-md-6">				
            <dl>
                <dt>President - John Crist</dt>
                <dd>(574) 242-9164</dd>
            </dl>
            
            <dl>
                <dt>Co-Vice President - Jeremy Hoover</dt>
                <dd>(574) 242-0558</dd>
            </dl>
            
            <dl>
                <dt>Co-Vice President - Scott Hankla</dt>
                <dd>(574) 225-0385</dd>
            </dl>
            
            <dl>
                <dt>Secretary - Rachel Rife</dt>
                <dd>(574) 225-0384</dd>
            </dl>
            
            <dl>
                <dt>Treasurer - Cristi Hankla</dt>
                <dd>(574) 225-1360</dd>
            </dl>
            
            <dl>
                <dt>Year round mailing address:</dt>
                 <dd>P.O. Box 78</dd>
                 <dd>Winamac, IN 46996</dd>
            </dl>
        </div>
        <div class="col-md-6">	
            <dl>
                <dt>Year round email:</dt>
                <dd><a href="mailto: winamacpowershow@hotmail.com" target="_blank">winamacpowershow@hotmail.com</a></dd>
            </dl>
            <dl>
                <dt>Week of show phone number </dt>
                <dd>(574) 946-4841</dd>
            </dl>
            
            <dl>
                <dt>Week of show address: </dt>
                <dd>10 City Park Drive<br> Winamac, IN 46996</dd>
            </dl>
        
            
            <dl>
                <dt>Food Vendor information - Rachelle Ortman</dt>
                <dd>(574) 946-3206</dd>
            </dl>
            
            <dl>
                <dt>Flea Market information - Rachelle Ortman</dt> 
                <dd>(574) 946-3206</dd>
            </dl>
            
            <dl>
                <dt>Toy Show information - Doris Smith</dt>
                <dd>Home: (574) 542-2330</dd>
                <dd>Cell: (574) 255-0381</dd>
            </dl>
        </div>
    </div>
</div>

{% endblock %}