{% extends 'base.html' %}

{% block title %}
Winamac Power From The Past
{% endblock %}

{% block jumbotron %}
		<div class="jumbotron">
			<img src="{{ url_for('static', filename='images/POP.png') }}">
		</div>
		<div class="ribbon">
			<h3>2019 Summer Show Dates July 18th, 19th, 20th, 21st</h3>
		</div>
{% endblock %}

{% block content %}

{% if notification %}
<div class="notification">
	<h2><strong>Stay Updated!</strong></h2>
	<div class="single-update">
		{% for display in notification %}
		
				<h3>{{ display.name }}</strong></h3>
				<h5>{{ display.created_at.strftime('%b %d, %Y') }}</h5>
			
					<p>{{ display.content | safe }}</p>

			<hr>
		{% endfor %}
	</div>
</div>
{% endif %}


<!--<div class="schedule">
		<ul class="nav nav-pills schedule-bar">
			<li><h4>Summer Show:</h4></li>
			<li><a data-toggle="tab" href="#menu7" class="active">Admission</a></li>
			<li><a data-toggle="tab" href="#menu6">Daily Events</a></li>
			<li><a data-toggle="tab" href="#menu1">Wednesday 7/18</a></li>
			<li><a data-toggle="tab" href="#menu2">Thursday 7/19</a></li>
			<li><a data-toggle="tab" href="#menu3">Friday 7/20</a></li>
			<li><a data-toggle="tab" href="#menu4">Saturday 7/21</a></li>
			<li><a data-toggle="tab" href="#menu5">Sunday 7/22</a></li>
		</ul>
{{ events.content | safe }}

 -->

<!--
<div class="banner">
	<h1 class="center">42nd Annual Summer Show </h1>
	<h2>July 18th, 19th, 20th, 21st</h2>
	<h3><a href="{{ url_for('summer_show') }}">Check out our event page!</a></h3>
	<h4>$3.00 admission per day or $9.00 for four days</h4>

</div>-->
<div class="banner">
    <a href="{{ url_for('summer_show') }}"><img src="{{ url_for('static', filename='images/2019-nifpft-front-page.jpg') }}"></a>
</div>

<div class="row" style="overflow: auto;">
	<div class="col-md-5">
		<div class="graham">
			<h2>The 2019 Summer Show will feature <strong>Graham Bradley</strong> equipment</h2>
			<img src="{{ url_for('static', filename='images/GrahamBradley.JPG') }}">
		</div>
	</div>
	
	<div class="col-md-7">
		<div class="thanks">
			<h2 class="bold" style="margin-bottom: .5em;">Thanks for everyone for a very successful Toy Show!</h2>
			<h2 class="bold">We hope to see you next at the Summer show!</h2>
		</div>
	</div>
</div>

<div class="mission">
	<h2 class="bold">Philosophy of the Northern Indiana Power from the Past, Inc.</h2>
	
	<p>The functional purpose of this corporation is to preserve, rejuvenate, and display antique farm machinery and any other form of machinery utilized in the growth of the U.S.A. Futher, it is the intention of the corporation to foster and perpetuate in the minds of all Americans respect, interest, and recognition of the vital role that different forms of machinery, no matter what their power source, have played in the development of our society as a whole.</p>
</div>

{% endblock %}

